extends layout

block content
  div.title
    |Travel Journals
  div.common-searches
    a.button
    a.button
    a.button
    a.button
    a.button
    a.button
    a.button
    a.button
  div.search-bar
  div.results
  script(src="/javascripts/index.js")
